/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'cursive', cursive;
    /* Cambia la fuente a una cursiva elegante */

}

header {
    background-color: #e63946;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    /* Tamaño de fuente grande */
    font-family: 'cursive', cursive;
    /* Cambia la fuente a una cursiva elegante */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra de texto */
    margin-bottom: 10px;
    /* Espaciado inferior */
    letter-spacing: 2px;
    /* Espaciado entre letras */
    text-transform: uppercase;
}

/* Estilos para el h2 con efecto llamativo */
.special-heading {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra de texto */
}

/* Estilos para el ícono de corazón */
.heart-icon {
    font-size: 1.9rem;
    vertical-align: middle;
    /* Alinea verticalmente el corazón con el texto */
}

header p {
    font-size: 1.2rem;
    /* Tamaño de fuente más pequeño para subtítulo */
}

audio {
    display: block;
    margin: 0 auto;
    /* Centrar horizontalmente */
    margin-top: 20px;
    /* Espaciado superior */
    max-width: 100%;
    /* Ajustar el ancho máximo */
}

/* Estilos para centrar la imagen y redondearla */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 20px; /* Espacio alrededor de la imagen */
    max-width: 80%; /* Ancho máximo para mantener una buena proporción */
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    overflow: hidden; /* Asegura que los bordes redondeados se apliquen */
}

.image-container img {
    max-width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: auto; /* La altura se ajustará automáticamente */
    border-radius: 20px; /* Redondea los bordes de la imagen */
}



/* Estilos personalizados para el video */
.video-container {
    position: relative;
    max-width: 450px;
    max-height: 51vh;
    margin: 20px auto 0;
    overflow: hidden;
    border: 5px solid #e63946;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.video-container:hover video {
    transform: scale(1.1);
    /* Efecto de zoom al pasar el cursor sobre el video */
}


nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilos para secciones */
section {
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Estilos para imágenes en la galería */
#galeria img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}