body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: 'cursive', cursive;
}

header {
    background-color: #e63946;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    font-family: 'cursive', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.special-heading {
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


.heart-icon {
    font-size: 1.9rem;
    vertical-align: middle;

}

header p {
    font-size: 1.2rem;

}

audio {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
     max-width: 100%;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}


.video-container {
    position: relative;
    max-width: 450px;
    max-height: 51vh;
    margin: 20px auto 0;
    overflow: hidden;
    border: 5px solid #e63946;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.video-container video {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.video-container:hover video {
    transform: scale(1.1);
    /* Efecto de zoom al pasar el cursor sobre el video */
}


nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


section {
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


#galeria img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}